<div class="container">
	<h1>Survey:</h1>
	<p><%= @survey.name %></p>
	<div>
		<% @survey.questions.each do |question| %>
			<h3>Question:</h3>
			<p> <%= question.text %> (<%= question.total_votes %> responses)</p>
				<% question.choices.each do |choice| %>
				<p> <%= "#{choice.text} (#{choice.votes_percentage}%)" %></p>
				<div class="results_bar_background">
					<div class="results_bar" style="width: <%= choice.votes_percentage %>%"></div>
				</div>
				<% end %>
		<% end %>
	</div>
</div>
