<div class="container">
	<h1><%= @survey.name %><h1>
	<h2>This survey had: <%= @resp_count %> respondants</h2>

	<div>
		<% @results.each do |question| %>
			<h3> <%= question[:q_name] %> </h3>
			<p> Total Responses: <%= question[:q_resp_count] %> </p>
				<% question[:resp_results].each do |choice| %>
				<p> <%= choice[:c_id] %> - <%= choice[:c_name] %> - Votes: <%= choice[:c_resp_count] %></p>
				<% end %>
		<% end %>
	</div>
</div>
