
<h1><%=@survey.name%></h1>

<% @survey.questions.each do |question| %>
	<h4><%= question.text%></h4>
<form id= action="/surveys/<%=@survey.id%>" method="post" >
	<% question.choices.each do |choice| %>
	<input type="radio" name="choice[<%=question.id%>]" value="<%=choice.text%>"><%=choice.text%><br>
	<%end%>
</form>
<%end%>