
<h1><%=@survey.name%></h1>

<% @survey.questions.each do |question| %>
	<h4><%= question.text%></h4>
<form action="/surveys/<%=@survey.id%>" method="post" >
	<% question.choices.each do |choice| %>
	<input type="radio" name="questions[<%=question.id%>]" value=<%=choice.id%>><%=choice.text%><br>
	<%end%>
<%end%>
<br>
	<input type="submit" value="submit">
</form>
